[css]
/* Content Boxes
———————————————————— */
.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
margin: 0 0 25px;
overflow: hidden;
padding: 90px;

}

.content-box-blue {	
background-color: transparent ;
border: 1px solid #afcde3;
width: 1000px;
width: 700px;
margin: 0 auto;
padding: 0 20px 20px 20px;
align-items: center;
  
}

.content-box-gray {
background-color:transparent ;
border: 1px solid #afcde3;
width: 700px;
margin: 0 auto;
padding: 0 20px 20px 20px;
align-items: center;
}

.content-box-green {
background-color:transparent ;
border: 1px solid #afcde3;
width: 900px;
width: 700px;
margin: 0 auto;
padding: 0 20px 20px 20px;
align-items: center;
}

.content-box-purple {
background-color:transparent ;
border: 1px solid #afcde3;
width: 1000px;
width: 700px;
margin: 0 auto;
padding: 0 20px 20px 20px;
align-items: center;
}

.content-box-red {
background-color:transparent ;
border: 1px solid #afcde3;
width: 1000px;
width: 900px;
margin: 0 auto;
padding: 0 20px 20px 20px;
align-items: center;
}

.content-box-yellow {
background-color: #fef5c4;
border: 1px solid #fadf98;
}